@mixin pn-cover-image($url)
  background-image: $url
  background-position: center
  background-size: cover

$translucent-background:rgba(255, 255, 255, 0.8) 

.wf-fill-screen
  height: calc(100vh - 64px)
  display: flex
  flex-direction: column
  overflow: auto